<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jde.skillbill">

    <uses-permission android:name="android.permission.INTERNET" />



    <uses-feature android:name="android.hardware.camera"
                  android:required="true" />


    <application
            android:usesCleartextTraffic="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.ActivityCreerCompte"
            android:parentActivityName=".ui.activity.ActivityConnexion">
        </activity>
        <activity android:name=".ui.activity.ActivityConnexion"
            android:parentActivityName=".ui.activity.SplashActivity">
        </activity>
        <activity
            android:parentActivityName=".ui.activity.ActivityVoirGroupes"
            android:name=".ui.activity.ActivityAjouterFacture">

        </activity>

        <activity
                android:name=".ui.activity.ActivityCreerGroupe">

        </activity>
        <activity android:name=".ui.activity.ActivityVoirGroupes">

        </activity>

        <activity android:name=".ui.activity.ActivityVoirUnGroupe">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>